In [2]:
import re
import numpy as np
import pandas as pd

In [3]:
# 把所有数据的listdir一列换成输出类别

# 。 DSC 文件错误，，find . -name "*.DS_Store" -type f -delete
# {'diabetes.txt', 'transfusion.data', 'balance-scale.data'}
import os

path = r'/Users/snszz/PycharmProjects/AVFL/RVFL_datasets/UCI/'
data_path = []
for path1 in os.listdir(path):
    for path2 in os.listdir(path + path1):
        if path2.endswith('txt') or path2.endswith('csv') or \
        path2.endswith('dat') or path2.endswith('.data'):
            path2 = path + path1  + '/' + path2
            data_path.append(path2)
len(data_path)

23

In [50]:
# 0 1 2 3 4 5 6 7 8 9 10 12 13 14
# 16的处理 见read_climate文件
#       15 16 17 18 19 20 21 22 23
nums = 22
path = data_path[nums]
path0 = re.findall(r'[^\\/:*?"<>|\r\n]+$', path)
print(path0,'0000')

['Indian Liver Patient Dataset (ILPD).csv'] 0000

In [48]:
path2 = re.findall(r'(.+?)\.data', path)[0]
print(path2, '------')
# sep='\t ',header=None,names = names2   
data = data = pd.read_table(path, encoding='utf-8',sep = ',', header=None)
data.head(5)

IndexError: list index out of range

In [16]:
t = 4
train = data.iloc[:, :t]   # iloc 索引
target = data.iloc[:, t]
data2 = pd.concat((train, target), ignore_index=True, axis=1)  # https://blog.csdn.net/brucewong0516/article/details/82707492
data2.head()

   0   1      2   3  4
0  2  50  12500  98  1
1  0  13   3250  28  1
2  1  16   4000  35  1
3  2  20   5000  45  1
4  1  24   6000  77  0

In [44]:
data2 = data.copy()
data2

      0   1  2  3
0    30  64  1  1
1    30  62  3  1
2    30  65  0  1
3    31  59  2  1
4    31  65  4  1
..   ..  .. .. ..
301  75  62  1  1
302  76  67  0  1
303  77  65  3  1
304  78  65  1  2
305  83  58  2  2

[306 rows x 4 columns]

In [46]:
#     arr_df.to_csv(csv_filename, float_format='%.3f', )
# 保存数据
data2.to_csv(path2 + '.csv',index=False , header=None)

In [ ]:
#  https://blog.csdn.net/qq_41239584/article/details/83306832

# https://nbviewer.jupyter.orabsg/

# https://zhuanlan.zhihu.com/p/37515973