In [1]:
from sklearn import linear_model as lm
import pandas as pd
import numpy as np
import os
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# 把txt类型转换为numpy
path = '/Users/snszz/PycharmProjects/AVFL/RVFL_datasets/UCI/'
balance_path = 'Balance_Scale/balance-scale.data'
balance_scale = pd.read_csv(path + balance_path, sep=',', header=None, encoding='utf-8')
print(balance_scale)

#

     0  1  2  3  4
0    B  1  1  1  1
1    R  1  1  1  2
2    R  1  1  1  3
3    R  1  1  1  4
4    R  1  1  1  5
..  .. .. .. .. ..
620  L  5  5  5  1
621  L  5  5  5  2
622  L  5  5  5  3
623  L  5  5  5  4
624  B  5  5  5  5

[625 rows x 5 columns]

In [2]:

# 映射函数
class_num = balance_scale[0].unique()
class_id = {j : i for i, j in enumerate(class_num)}
class_id
balance_scale[0] = balance_scale[0].map(class_id)

In [3]:
balance_scale.describe()
# balance_scale.info()
# pip install -U pandas
# 因此该数据不需要进行归一化

                0           1           2           3           4
count  625.000000  625.000000  625.000000  625.000000  625.000000
mean     1.382400    3.000000    3.000000    3.000000    3.000000
std      0.627375    1.415346    1.415346    1.415346    1.415346
min      0.000000    1.000000    1.000000    1.000000    1.000000
25%      1.000000    2.000000    2.000000    2.000000    2.000000
50%      1.000000    3.000000    3.000000    3.000000    3.000000
75%      2.000000    4.000000    4.000000    4.000000    4.000000
max      2.000000    5.000000    5.000000    5.000000    5.000000

In [4]:
'''
np.random.seed(22)
c = np.random.uniform(-1, 1, (3,4))
print('c \n', c)
# c = c[np.newaxis, :]
print('c.shape', c.shape)
d = np.tile(c, reps=(10, 1))
d.resize(10, 3, 4)
seed=np.random.randint(1e4)
'''

'''

np.random.seed(22)
c = np.random.uniform(-1, 1, (3,5))
d = np.random.uniform(-1, 1, (3)) * 10
print(c)
print(d)

d1 = np.ones(5
            ) * 2
np.dot(c.T, d)+d1

'''

'''
# balance_scale.iloc[:, 0]  # 索引
# balance_scale.loc[:, 0]   # 标签， ‘columns’
balance_scale.loc[:,1:]
'''

'''
    # 映射函数
    class_num = balance_scale[0].unique()
    class_id = {j : i for i, j in enumerate(class_num)}
    class_id
    balance_scale[0] = balance_scale[0].map(class_id)
'''

'''
import re
path0 = re.findall(r'[^\\/:*?"<>|\r\n]+$', path)
path2 = re.findall(r'(.+?)\.dat', path0[-1])
'''

'\n    # 映射函数\n    class_num = balance_scale[0].unique()\n    class_id = {j : i for i, j in enumerate(class_num)}\n    class_id\n    balance_scale[0] = balance_scale[0].map(class_id)\n'

In [5]:
# 基于隐藏层对该函数使用回归
# 隐藏层的输入系数w, b是随机初始化为[-c, c]的均匀分布

def sigmoid(x):
    return 1 / (1 + np.exp(-x))

def random_initialize_hidden(x, hiddennodes, c=1,seed=1111 ):
    '''
    inputnodes : 输入的特征数目
    hiddennodes: 隐藏层的节点数目
    n: 样本数量
    c ： 权重和bias的范围， 均匀分布
    '''
    np.random.seed(seed)
    n, inputnodes = x. shape
    hidden = np.zeros((n, hiddennodes))   # initial hidden layer
    # 激活
    hidden = sigmoid(hidden)
    w = np.random.uniform(-c, c, (inputnodes, hiddennodes))   # 生成weights
    b = np.random.uniform(-c, c, (hiddennodes))
    
    for i in range(n):
        hidden[i] = np.dot(w.T, x[i]) + b
    return hidden


def targets_encoder(targets, encoder = 'LabelEncoder'):
    label = targets.unique()
    print(label)
    dict_label = {}
    if encoder == 'LabelEncoder':
        # d对标签进行编码
        enc = LabelEncoder().fit(label)
        classes = enc.transform(label)    # enc.classes_
        targets = enc.transform(targets)
       
        for i in range(len(label)):
            dict_label[label[i]] = classes[i]

    elif encoder == 'OneHotEncoder':
        label1 = label[:,np.newaxis]   # [[],[]] 添加一个维度
        targets = targets[:, np.newaxis]
        enc = OneHotEncoder().fit(label1)
        classes= enc.transform(label1).toarray()
        targets = enc.transform(targets).toarray()        

    elif encoder == 'OrdinalEncoder':
        label1 = label[:,np.newaxis]   # [[],[]] 添加一个维度
        targets = targets[:, np.newaxis]
        enc = OrdinalEncoder().fit(label1)
        classes= enc.transform(label1)
        targets = enc.transform(targets)
        
    for i in range(len(label)):
        dict_label[label[i]] = classes[i]
    
    return targets, dict_label


if __name__ == '__main__':
    x = np.random.random((20, 3))
    hidden = random_initialize_hidden(x, hiddennodes=10)
    hidden.shape

In [6]:
def main():
    # 把txt类型转换为numpy
    path = '/Users/snszz/PycharmProjects/AVFL/RVFL_datasets/UCI/'
    balance_path = 'Balance_Scale/balance-scale.data'
    balance_scale = pd.read_csv(path + balance_path, sep=',', header=None, encoding='utf-8')
    # print(balance_scale)
    
    # 该数据不需要初始化和异常值处理
    targets = balance_scale[0]
    encoder = 'LabelEncoder'
    targets, dict_label = targets_encoder(targets, encoder) # target编码
    print('输出的映射', dict_label)
    x = balance_scale.loc[:, 1:].values    # features
    H = random_initialize_hidden(x, hiddennodes= 200)  # 隐藏层
    print('H shape', H.shape)
    # sklearn 回归 min|| Hb - T ||
    model = lm.LinearRegression().fit(H, targets)
    return model.coef_
    
    
    
if __name__ == '__main__':
    coef_ = main()
#     print(coef_)

['B' 'R' 'L']
输出的映射 {'B': 0, 'R': 2, 'L': 1}
H shape (625, 200)

In [26]:
# 把所有数据的listdir一列换成输出类别

# {'diabetes.txt', 'transfusion.data', 'balance-scale.data'}
import os

path = r'/Users/snszz/PycharmProjects/AVFL/RVFL_datasets/UCI/'
data_path = []
for path1 in os.listdir(path):
    for path2 in os.listdir(path + path1):
        if path2.endswith('txt') or path2.endswith('csv') or \
        path2.endswith('dat') or path2.endswith('.data'):
            path2 = path + path1  + '/' + path2
            data_path.append(path2)
len(data_path)

22

In [62]:
def load_data(path):
    '''
    path : 加载数据
    '''
    data = pd.read_csv(path, sep=' ', header=None, encoding='utf-8')
    return data

path = '/Users/snszz/PycharmProjects/AVFL/RVFL_datasets/UCI/Austrlian_Credit_Approval/australian.dat'


path1 = path.split('/')[-1]
path2 = path1.split('.')
data = load_data(path)
data.head()


#     arr_df.to_csv(csv_filename, float_format='%.3f', index=False, header=False)

   0      1      2   3   4   5      6   7   8   9   10  11   12    13  14
0   1  22.08  11.46   2   4   4  1.585   0   0   0   1   2  100  1213   0
1   0  22.67   7.00   2   8   4  0.165   0   0   0   0   2  160     1   0
2   0  29.58   1.75   1   4   4  1.250   0   0   0   1   2  280     1   0
3   0  21.67  11.50   1   5   3  0.000   1   1  11   1   2    0     1   1
4   1  20.17   8.17   2   6   4  1.960   1   1  14   0   2   60   159   1

In [64]:
d1 = data.loc[:, 14]
d2 = data.loc[:, :13]
data2 = pd.concat((d1,d2), ignore_index=True, axis=1)  # https://blog.csdn.net/brucewong0516/article/details/82707492
print(data2.head())
# 保存数据
data2.to_csv()

   0   1      2      3   4   5   6      7   8   9   10  11  12   13    14
0   0   1  22.08  11.46   2   4   4  1.585   0   0   0   1   2  100  1213
1   0   0  22.67   7.00   2   8   4  0.165   0   0   0   0   2  160     1
2   0   0  29.58   1.75   1   4   4  1.250   0   0   0   1   2  280     1
3   1   0  21.67  11.50   1   5   3  0.000   1   1  11   1   2    0     1
4   1   1  20.17   8.17   2   6   4  1.960   1   1  14   0   2   60   159

(['australian.dat'], ['australian'])

In [50]:
d2

     0      1       2   3   4   5      6   7   8   9   10  11   12    13
0     0  22.08  11.460   2   4   4  1.585   0   0   0   1   2  100  1213
1     0  22.67   7.000   2   8   4  0.165   0   0   0   0   2  160     1
2     0  29.58   1.750   1   4   4  1.250   0   0   0   1   2  280     1
3     1  21.67  11.500   1   5   3  0.000   1   1  11   1   2    0     1
4     1  20.17   8.170   2   6   4  1.960   1   1  14   0   2   60   159
..   ..    ...     ...  ..  ..  ..    ...  ..  ..  ..  ..  ..  ...   ...
685   1  31.57  10.500   2  14   4  6.500   1   0   0   0   2    0     1
686   0  20.67   0.415   2   8   4  0.125   0   0   0   0   2    0    45
687   1  18.83   9.540   2   6   4  0.085   1   0   0   0   2  100     1
688   1  27.42  14.500   2  14   8  3.085   1   1   1   0   2  120    12
689   1  41.00   0.040   2  10   4  0.040   0   1   1   0   1  560     1

[690 rows x 14 columns]

Object `d.endswith` not found.